<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developteam.pqrsd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PQRSD">
        <activity
            android:name=".Casos"
            android:exported="false" />
        <activity
            android:name=".BDconfig"
            android:exported="false" />
        <activity
            android:name=".MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".IniciarSesion"
            android:exported="false" />
        <activity
            android:name=".ConsultarPqrsd"
            android:exported="false" />
        <activity
            android:name=".RadicarPqrsd"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>